.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table {
	width:100%;
	border:1px solid color-form-highlight;
}

.tableHeader {
	
	width:100%;
	background:rgb(151, 147, 147);
	padding:(half-spacing-unit * 1.5) 0;
}

.tableRow {
	
	width:100%;
	padding:(half-spacing-unit * 1.5) 0;
		background:color-form-highlight;
	
}